{
  "family": "nginx",
  "containerDefinitions": [
    {
      "name": "nginx",
      "image": @VERSION@,
      "memory": 128,
      "portMappings": [
        {
          "containerPort": 80,
          "protocol": "tcp"
        }
      ]    
    }
  ]
}
